$bold: bold; // 700
$semi-bold: 600;

$font-santral: Santral, Helvetica, Arial, sans-serif;
$font-inter: Inter, Helvetica, Arial, sans-serif;
$font-opensans: "Open Sans", Helvetica, Arial, sans-serif;
