.veewoo-a-picture {
  display: block;
  > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &--as-background {
    position: absolute;
    z-index: $elevation-background;
    height: 100%;
    width: 100%;

    & img {
      position: absolute;
      height: 100%;
      object-fit: cover;
    }
  }
}
