.veewoo-a-wistia-video {
  position: relative;
  height: 26.3125rem;

  @mixin full-size {
    width: 100%;
    height: 100%;
  }

  .wistia_responsive_padding {
    position: relative;
    @include full-size();
  }

  .wistia_responsive_wrapper {
    @include full-size();
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wistia_embed {
    position: relative;
    display: inline-block;
    @include full-size();
  }
}
