@import "./page-two-components/mixins/px2rem";
@import "./page-two-components/mixins/theme";
@import "./page-two-components/mixins/breakpoints";
@import "./page-two-components/mixins/styleguide";
@import "./page-two-components/mixins/container";
@import "./page-two-components/mixins/buttons";

@import "./page-two-components/core/variables";
@import "./page-two-components/core/grid";
@import "./page-two-components/core/colors";
@import "./page-two-components/core/typography";
@import "./page-two-components/core/container";

@import "./page-two-components/picture.scss";
@import "./page-two-components/link.scss";
@import "./page-two-components/hero-banner.scss";
@import "./page-two-components/autocomplete.scss";
@import "./page-two-components/carousel.scss";
@import "./page-two-components/wistia-video.scss";
@import "./page-two-components/product-media-card.scss";
@import "./page-two-components/grid.scss";
@import "./page-two-components/video-text.scss";

body {
  margin: 0;
  font-family: "Montserrat Alternates", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

.section-margin-top {
  @include section-margin-top;
}
