.background-secondary {
  background-color: $secondary-color;
  color: $primary-color;
}

.background-primary {
  background-color: $primary-color;
  color: $secondary-color;
}

.background-tertiary {
  background-color: $tertiary-color;
  color: $primary-color;
}

.background-vanguard-15 {
  background-color: $vanguard-15;
  color: $primary-color;
}

.background-vanguard {
  background-color: $vanguard;
  color: $secondary-color;

  .r-block {
    &::before,
    &::after {
      background-color: $haze;
    }
  }

  &.rte-block .rte-block-single__inner {
    a:not([class]) {
      color: $secondary-color;
      box-shadow: 0px 1px 0px $secondary-color;

      &:hover {
        color: $secondary-color;
        box-shadow: 0px 2px 0px $secondary-color;
      }
    }
  }
}
