// fonts

$ultra-regular: "Ultra Regular", sans-serif;
$ultra-light-italic: "Ultra Light Italic", sans-serif;
$ultra-light: "Ultra Light", sans-serif;
$ultra-regular-italic: "Ultra Regular Italic", sans-serif;

$median-regular: "Ultra Median Regular", sans-serif;
$median-light-italic: "Ultra Median Light Italic", sans-serif;
$median-light: "Ultra Median Light", sans-serif;
$median-regular-italic: "Ultra Median Regular Italic", sans-serif;

// colors

$primary-color: #425664;
$secondary-color: #fff;
$charcoal-70: #686868;
$haze: #e7e4e2;
$chinese-silver: #c9c9c9;
$tertiary-color: #F6F4F2;
$black: #000000;
$charcoal-25: #c9c9c9;
$white: #ffffff;
$haze-50: #f3f1f0;
$vanguard-15: #e5ebe3;
$vanguard: #527a42;
