// fonts

$ultra-regular: 'Ultra Regular', sans-serif;
$ultra-light-italic: 'Ultra Light Italic', sans-serif;
$ultra-light: 'Ultra Light', sans-serif;
$ultra-regular-italic: 'Ultra Regular Italic', sans-serif;

$median-regular: 'Ultra Median Regular', sans-serif;
$median-light-italic: 'Ultra Median Light Italic', sans-serif;
$median-light: 'Ultra Median Light', sans-serif;
$median-regular-italic: 'Ultra Median Regular Italic', sans-serif;

// colors

$primary-color: #282828;
$secondary-color: #fff;
$charcoal-70: #686868;
$haze: #E7E4E2;
$chinese-silver: #C9C9C9;
$tertiary-color:#F3F1F0;
$black: #000000;
$charcoal-25: #C9C9C9;
$charcoal: #282828;
$white: #ffffff;
$haze-50: #f3f1f0;
$vanguard-15: #E5EBE3;
$vanguard: #527A42;