// colors

$primary-color: #425664;
$secondary-color: #fff;
$charcoal-70: #686868;
$haze: #e7e4e2;
$chinese-silver: #c9c9c9;
$tertiary-color: #f6f4f2;
$black: #000000;
$charcoal-25: #c9c9c9;
$white: #ffffff;
$haze-50: #f3f1f0;
$vanguard-15: #e5ebe3;
$vanguard: #527a42;
